# ================================
#  Ambientes / Configuração
# ================================

venv/
.env
*.env

# ================================
#  Cache do Python
# ================================

__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# ================================
#  Build / Eggs
# ================================

*.egg-info/
.eggs/
dist/
build/

# ================================
#  IDE / Editor
# ================================

.vscode/
.idea/
*.swp
*.swo

# ================================
#  Dados grandes e sensíveis
# ================================
# NÃO versionar datasets
nlp/data/raw/
nlp/data/processed/
dataset/
*.csv
*.xlsx

# ================================
#  Modelos treinados
# ================================
# Ignora tudo em nlp/models
nlp/models/*

# MAS não ignore as pastas emotions e crisis (modelos em uso pela API)
!nlp/models/emotions/
!nlp/models/emotions/**
!nlp/models/crisis/
!nlp/models/crisis/**



# ================================
#  Logs / Outputs
# ================================

logs/
*.log

# ================================
#  Jupyter
# ================================

.ipynb_checkpoints/
*.ipynb
